:root {
    --lightPurple: #8355e5;
}

.card-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}   

.card-image {
    height: 550px;
    width: 400px;
    border-radius: 30px;
    overflow: hidden;
}

.card-image img {
    border-radius: 30px;
    transition: 0.8s ease-in-out;
    transform-origin: center;
    filter: brightness(50%);
}

.card-image:hover img {
    filter: brightness(100%);
    transform: scale(1.2);
}

.card-name {
    font-size: 22px;
    font-weight: 500;
    transition: 0.5s;
}

.card-name:hover {
    color: var(--lightPurple);
    transition: 0.5s;
}
