:root {
  --lightGrey: #222122;
}

.category-section-cont {
  background-color: var(--lightGrey);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-section-cont2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  margin: 50px;
  text-align: center;
}

.categories-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 1300px;
}

@media (max-width: 1150px) {
  .categories-cont {
    flex-direction: column;
  }
}
