:root {
    --lightPurple: #8355e5;
}

.deals-section-cont {
    height: 808px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.chrono-split img, .dead-at-last img, .kira img, .weeks-deals {
    border-radius: 25px;
}

.chrono-split {
    position: absolute;
    right: 100px;
    z-index: 5;
}

.dead-at-last {
    position: absolute;
    right: 393px;
    bottom: 62px;
    z-index: 4;
}

.kira {
    position: absolute;
    left: 360px;
    top: 80px;
    z-index: 3;
}

.weeks-deals {
    height: 365px;
    width: 555px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--lightPurple);
    position: absolute;
    z-index: 6;
    left: 270px;
    top: 120px;
    color: white;
}

.this-week {
    font-size: 22px;
    font-weight: 500;
}

.discount {
    font-size: 130px;
    font-weight: 700;
}

.weeks-deals p {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}

.deals-button {
    height: 43px;
    width: 143px;
    border: solid white 2px;
    border-radius: 100px;
    color: var(--lightPurple);
    font-size: 15px;
    font-weight: 700;
    transition: 0.5s;
}

.deals-button:hover {
    background-color: var(--lightPurple);
    color: white;
    border: solid white 2px;
    transition: 0.5s;
}
