.discount-cont {
  min-height: 500px;
  background-image: url("/cover/discountCover.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.spend-save {
  font-size: 70px;
  font-weight: 700;
}

.save {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 25px;
}

@media (max-width: 557px) {
  .spend-save {
    font-size: 40px;
    font-weight: 700;
  }

  .save {
    font-size: 18px;
    text-align: center;
  }
}

@media (max-width: 340px) {
  .spend-save {
    font-size: 30px;
    font-weight: 700;
  }

  .save {
    font-size: 16px;
    text-align: center;
  }
}
