.footer-cont {
    height: 740px;
    background-color: black;
    color: white;
}

.footer-options {
    height: 495px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-logo, .footer-products, .footer-store, .footer-policy {
    height: 495px;
    width: 305px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    gap: 10px;
}

.footer-logo span {
    font-size: 20px;
    font-weight: 700;
}

.footer-logo-icon {
    font-size: 80px;
}
