.footer-cont {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
}

.footer-cont li {
  list-style-type: none;
  text-align: center;
}

.footer-options {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.footer-products,
.footer-store,
.footer-policy {
  height: 300px;
  width: 280px;
}

.footer-products,
.footer-store,
.footer-policy {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.footer-logo {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-logo span {
  font-size: 20px;
  font-weight: 700;
}

.footer-logo-icon {
  font-size: 80px;
}

.footer-products-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-products ul,
.footer-store ul,
.footer-policy ul {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 15px;
  word-wrap: break-word;
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  height: 0.5px;
  width: 100%;
  background-color: white;
  opacity: 35%;
}

.footer-others {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.payment-methods {
  margin: 30px;
}

.payment-methods p,
.join-community p {
  margin-bottom: 15px;
}

.payment-methods img {
  width: 40px;
  height: 28px;
  margin: 0px 20px 10px 0px;
}

.join-community {
  margin: 30px;
}

.facebook,
.instagram,
.youtube,
.tiktok {
  width: 20px;
  height: 20px;
  margin-right: 25px;
}

.footer-copyright {
  height: 50px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-copyright p {
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

/* --- RESPONSIVE QUERIES --- */

@media (max-width: 790px) {
  .footer-products-cont {
    flex-direction: column;
  }

  .footer-others {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .payment-methods {
    display: none;
  }
}
