.games-stack-cont {
    min-height: 320px;
    background-image: url("/cover/gamesStackCover.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}

.games-stack {
    position: absolute;
    height: 310px;
    width: 962px;
    bottom: 100px;
}
