.hero-section {
    min-height: 700px;
    background-image: url("/heroSection.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-card-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    position: relative;
}
