.hero-card {
  height: 689px;
  width: 536px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
  position: relative;
  right: 100px;
  top: 50px;
}

/* --- RESPONSIVE QUERIES --- */

@media (max-width: 1350px) {
  .hero-card {
    right: 50px;
    top: 2px;
    width: 436px;
    height: 589px;
  }
}

@media (max-width: 1050px) {
  .hero-card {
    position: static;
  }
}

@media (max-width: 576px) {
  .hero-card {
    height: 409px;
    width: 300px;
  }
}
