.hero-card {
    margin-top: 100px;
    height: 689px;
    width: 536px;
    background-image: url("/cover/heroPosterCard.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 30px;
    position: absolute;
    top: -20px;
    right: 140px;
}
