:root {
    --darkPurple: #2e2042;
    --lightPurple: #8355e5;
}

a {
    text-decoration: none;
    color: white;
}

.nav-bar {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("/nav.jpg");
    color: white;
}

.nav-logo {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    font-size: 25px;
    gap: 10px;
}

.nav-logo-name {
    font-weight: 700;
}

.nav-logo-icon {
    font-size: 70px;
}

.nav-all-list {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 150px;
    font-size: 18px;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

ul:hover {
    color: var(--lightPurple);
    transition-duration: 0.5s;
}

.nav-cart-icon {
    font-size: 30px;
}
