.product-container {
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.product-image img {
    border-radius: 5px;
}