:root {
    --lightPurple: #8355e5;
}

.seller-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 850px;
    background-color: black;
    color: white;
}

.seller-heading {
    width: 1312px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
}

.seller-heading h2 {
    font-size: 40px;
}

.view-all {
    height: 38px;
    width: 132px;
    background-color: white;
    color: var(--lightPurple);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: solid white 2px;
    transition: 0.5s;
}

.view-all:hover {
    background-color: var(--lightPurple);
    color: white;
    transition: 0.5s;
}

.carousel {
    height: 530px;
    width: 1020px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    cursor: grab;
    margin-bottom: 20px;
}

.inner-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
